#menu {
    display: grid;
    grid-template-columns: auto auto;
    padding: 35px;
    position: fixed;
    top: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.hide-menu {
    transition: transform 1s;
    transform: translateY(-200px);
}

.show-menu {
    transition: transform 1s;
    transform: translateY(0px);
}

.nav {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-link, #title h1 {
    color: white;
    font-size: 170%;
    font-weight: bold;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
}

#title {
    display: inline-flex;
}

#title *{
    color: white;
    display: inline-flex;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black; 
}

#title img {
    border-radius: 25px;
    height: 135px;
}

#title h1 {
    margin: 0;
    font-size: 200%;
    margin-left: 5%;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

#background-img {
    width: 100%;
    height: auto;
    background: url("../imgs/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    height: 150%;
}

#content-wrap{
    height: 100%;
    width: 100%;
    padding: 12% 5% 5% 5%;
}

#content {
    background-color: white;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

#content *{
    height: 100%;
    width: 100%;
}

#footer {
    height: 300px;
    margin-top: -300px;
    background-color: black;
}